/* css reseet */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* css variables */
:root{
    --navbar-height: 59px;
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0rem;
    z-index: 100;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top:0px;
    left: 0px;
}
/* navigation bar: logo and image */
#logo{
margin: 7px 5px;
}
#logo img{
    height: 90px;
    margin: 9px 22px;
}
/* navigation bar: list styling */
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
    /* font-size: 1.0rem; */
}

#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}
/* here padding could be done in navbar ul li  but it is done in navbar ul li a bcoz if hover is done then it will appear in only one element but if its done in navbar ul li then all the elements hover if cursor is placed for one element */
#navbar ul li a{
    color: white;
    display: block;
    padding: 0px 13px;
    border-radius: 22px;
    text-decoration: none;
    /* font-size: 24px; */
}
#navbar ul li a:hover{
    color:black;
    background-color: white;
    /* opacity: 0.8; */
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 387px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('../bg4.jpg') no-repeat center center/cover;
    position: absolute;
    height: 74%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    top: 0px;
    left: 0px;
}
#home h1{
    color: white;
    text-align: center;
    /*font-family: 'Parisienne', cursive;*/
    font-family: 'PT Serif', serif; 
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.75rem;
    font-family: 'Dancing Script', cursive;
}
/* services section */
#services{
    margin: 15px;
    display: flex;
}
#services .box{
    border: 2px solid red;
    padding: 12px;
    margin: 6px 5px;
    border-radius: 30px;
    background-color: rgb(254 239 239);
    margin-bottom: 20px;
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
    
}
#services .box p{
    font-family: 'PT Serif', serif; 
}
/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity:0.8;
    background: url('../contact_us.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 33px;
}
#contact-box input,
#contact-box textarea{
    width:100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.2rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'PT Serif', serif; 
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* client section*/
#client-section{
    
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg2.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 144px;
}
.client-item{
    padding: 34px;
}
/* utility classes */
.h-primary{
    font-size: 3.8rem;
    padding: 15px;
    font-family: 'Baloo Bhai 2', cursive;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;
}
.btn{
    padding: 6px 24px;
    border: 2px solid white;
    background-color: #e60404;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 27px;
    cursor: pointer;
}

.center{
    text-align: center;
}
